body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
    
}
ul, ol {
	list-style-type: none;
   padding: 0;
   margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}
p{
    margin:0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}


.style-h-two{
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
letter-spacing: 0.02em ;

}
.paragraf{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em ;
    margin-bottom: 8px;
}                      
.card-box-style {
background: #fff;
border-radius: 0 0 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}
.card-title{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.card-text{
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.5 ;
    
    

}
.general-tittle{
    font-weight: 700;
/* font-size: 56px; */
font-size: 36px;
/* line-height: 1.07; */
line-height: 1.12;
letter-spacing: 0.02em;
text-align: center;
color: #fff; 
/* max-width: 496px; */
max-width: 216px;
margin-left: auto;
margin-right: auto;
/* margin-bottom: 48px; */
margin-bottom: 72px;
}
.section-one-style{
    background: #2e2f42;
    /* padding: 188px 0 ; */
    padding-top: 72px;
    padding-bottom: 72px;
    /* height: 600px; */
    height: 432px;
    /* max-width: 1440px; */
    max-width: 320px;
    margin: 0 auto;
    background-image: url(/images/Dark-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: 
    linear-gradient(to bottom,rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),   
    url(/images/Dark-bg-mobile.jpg);
     }
@media screen and (-webkit-min-device-pixel-ratio: 2 ),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .section-one-style{
        background-image: url(/images/Dark-bg-mob2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: 
    linear-gradient(to bottom,rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),   
    url(/images/Dark-bg-mob2.jpg);
    }
}
.buttonstyle{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color:#4d5ae5;
cursor:pointer;
border-radius: 4px;
padding: 16px 32px;
border: none;
display: block;
margin-left: auto;
margin-right: auto;
min-width: 169px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.buttonstyle:hover,
.buttonstyle:focus{
    background-color: #404BBF;
}
.webstudio{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
text-decoration: none;
margin-right: 76px;
}
.webstudio .span-style{
    color: #2e2f42;
}
.webstudio .footer-studio{
    color: #f4f4fd;
}
.webstudio-header{
    padding: 16px;
    /* margin-right: 76px; */
}
.webstudio-footer{
    display: inline-block;
    margin-bottom: 16px;
}

.navigation a{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
text-decoration: none;
padding: 24px 0 ;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation a:hover,
.navigation a:focus{
    color: #404bbf;
}
.navigation.current{
    position: relative;
    color: #404BBF;
}
.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
}



 .flex-logo-and-menu .navigation{
    display: none;
}
.contacts{
    font-style: normal;
    /* display: flex; */
    display: none;
    gap: 40px;
    
}
.contacts .contacts-link{
    letter-spacing: 0.02em ;   
font-size: 16px;
line-height: 1.5;
color: #434455;
text-decoration: none;
font-family: "Roboto", sans-serif;
font-style: normal;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus{
    color: #404bbf;
}
/*МОБІЛЬНЕ ВІКНО*/
.mob-menu {
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction:column ;
    overflow: auto;
}
.menu-close-bth {
    display: block;
    margin-left: auto;
    margin-bottom: 24px;
   
    border-radius: 100%;
    width: 24px;
    height: 24px;
    
    border-color: #e7e9fc;
 
    padding: 0;
    cursor: pointer;
   background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;  

}
.mob-style-close{
    fill:#2E2F42;
}

.mob-menu-list {
    margin-bottom: 168px;
}
.mob-menu-list li:not(:last-child) {
    margin-bottom:40px;
}
.mob-menu-link {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
text-decoration: none;
}
.mob-studio{
    font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
color: #404bbf;
}
.current {
}
.mob-contacts {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;

}
.mob-contacts-link {
    text-decoration: none;
    
}
.mob-email{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;

}

.mob-social-list{
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   gap: 40px;
   margin-top: auto;
}

.menu-open-bth{
    background-color: transparent;
    border: none;

}



.footer-style{
  
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

    
    .text{
        font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
    }
    .footer-social-link{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;

    }
    
    

.footer-style .text{
    font-weight: 400;
font-size: 16px;
letter-spacing: 0.02em ;
line-height: 1.5;
color: #f4f4fd;

}
/*Flex */
.navigation{
    display: flex;
    gap: 40px;
   
    
}
.flex-logo-and-menu{
    display: flex;
    align-items: center;
    flex-grow: 1;
   
}
.container{
    width: 320px;
    /* padding: 0 15px;  */
    margin: 0 auto;
    
    
}
.header-container{
    display: flex;
    align-items: center;
    /*padding: 0 15px;*/
}

.header{
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
   
}



/*Section two */
.section-two-style{
    /* padding: 120px 0; */
    padding-top: 96px;
    padding-bottom: 96px;
    
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.section-two-container{
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;
     padding-left: 16px;
    padding-right: 16px; 

}
 .calc{
   /* width: calc((100% - 72px) / 4); */
} 
.section-two-style .box-for-icons {
    display: none; /* Приховати всі елементи з класом box-for-icons */
}


/*Section three */
.section-three-container{
    display: flex;
    /* gap: 24px; */
    gap:72px;
    flex-wrap: wrap;

    
}
.ourteam-section{
    background: #f4f4fd;
    /* padding: 120px 0; */
    padding-top: 96px;
    padding-bottom: 96px;
    
}
.ourteam-title{
   margin-bottom: 72px;
}
.ourteam-container{
    display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
 padding-right: 28px;
 padding-left: 28px;
}
.ourteam-info{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
   
    padding: 32px 16px;

}

/*Section four*/

.our-portfolio{
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}
.our-portfolio-title{
    margin-bottom: 72px;
}
.box-in-our-portfolio{
    border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
padding: 32px 16px;
/* max-width: 360px; */

height: 120px;

}
.our-portfolio-list{
    display: flex;
    flex-wrap: wrap;
    /* gap: 48px 24px; */
    gap: 48px;
    padding-right: 16px;
    padding-left: 16px;
}
.li-our-portfolio{
    width: 100%;
    height: 400px;
    
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li-our-portfolio:hover .cover-text{
    transform: translateY(0);
}
.li-our-portfolio:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
/* footer*/
.webstudio-footer{
    display: inline-block;
    margin-bottom: 16px;

}
.text-footer{
    max-width: 264px;
margin-top: 0;
}
.aaa{
   
    margin-right: 120px;
   

}
.bbb{
    margin-right: 80px;
}

.footer-form{
    display: flex;
    gap: 24px;
    
}
.footer-subscribe{
 margin-left: auto;
}
.footer-input{
border: 1px solid #ffffff;
border-radius: 4px;
width: 264px;
height: 40px;
padding:8px 16px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: transparent;
margin-right: 24px;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #ffffff;

}

input.footer-input::placeholder{
    font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #ffffff

}
.footer-button{
    display: flex;
align-items: center;
justify-content: center;
flex-direction: row;

border: none;
    border-radius: 4px;
padding: 8px 24px;
min-width: 165px;
height: 40px;
cursor: pointer;
background: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
}

.footer-icon{
    fill: #fff;
margin-left: 16px;
}
.footer-container{

    display: flex;
    align-items: baseline;
}
/*ДОРОБИТИ ФУТЕР*/



.icons-socails{
    fill: #f4f4fd;
    
  
}

.blue-circle{
    
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .blue-circle:hover,
  .blue-circle:focus{
    background-color: #404BBF;
  }
.social-list{
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   gap: 24px;
}
.social-list-foter{
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   gap: 16px;

}
.icon-items{
    width: 40px;
    height: 40px;

}

.box-for-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background: #f4f4fd;
padding: 24px 100px;
margin-left: auto;
}
.green-circle{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.green-circle:hover,
.green-circle:focus{
    background-color: #31D0AA;
 }
 .cover-text-wrap{
    position: relative;
    overflow: hidden;

 }
 .cover-text{
    position: absolute;
    top: 0;/* ТУТ ЗУПИНИВСЯ*/
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background: #4d5ae5;
    height: 100%;
    padding: 40px 32px;
    
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
 }

  /*--------------------------------------------*/


  .backdrop{
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .modal{
    position: absolute;
    /* width: 408px;
    min-height: 584px; */
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    padding: 72px 24px 24px;
    background: #fcfcfc;
    top: 50%;
    left: 50%;
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translate(-50%,-50%) scale(1);
    transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }
  .modal-close-bth{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    display: flex;
    justify-content: center;
    align-items: center;  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }
  .modal-close-bth:hover,
  .modal-close-bth:focus{
    background-color: #404BBF;
    border-color: none;
    border: none;
  }
  .style-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-bth:hover > .style-close,
  .modal-close-bth:focus > .style-close{
    fill: #FFFFFF;
  }
  .modal-title{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;

  }
  .modal-label{
    display: block;
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
  }

 .modal-input{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    outline: transparent;
    background-color: transparent;
    padding-left: 38px; 
    color:#2E2F42;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus{
   border-color: #4D5AE5;
}
.modal-input::placeholder{
    border-color: #4D5AE5;
}
.form-field{
    margin-bottom: 8px;
}
.modal-wrap{
    position: relative;
}
  .modal-icons{
    fill: #2E2F42;
    
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }
  .modal-input:focus + .modal-icons,
  .modal-input:hover + .modal-icons{
    fill:#4D5AE5;
  }

  .fiel-comment{
    margin-bottom: 16px;
  }
  .modal-text{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    outline: transparent;
    background-color: transparent;
    padding: 8px 16px; 
    color:#2E2F42;
    resize: none;
    font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }
  .modal-text:focus{
    border-color: #4D5AE5;
  }
  input.modal-text::placeholder{
    font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
  }
  
  .field-checkbox{
    
    margin-bottom: 24px;
  }
  .modal-check-text{
    font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;


  }
  .modal-check-box{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    outline: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
 
  .modal-check:checked + .modal-check-text span{
    background-color: #404bbf;
    fill: #F4F4FD; 
    border: none;
  }
    .modal-button{
        display: block;
        border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
padding: 16px 32px;
border: none;
cursor: pointer;
    border: none;
    margin: 0 auto;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-button:hover,
.modal-button:focus{
    background-color: #404BBF;
}
.modal-policy{
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    
}
/*--------------------------------------------------------*/
@media screen and (min-width:768px) {
    .container{
        width: 768px;
        padding-right: 16px;
        padding-left: 16px;
    }
    .section-two-style{
      padding-top: 96px;
      padding-bottom: 96px;
    }
    .section-two-container{
        gap: 72px 24px;
        
    }
     .calc{
        padding: 0;
        width: calc((100% - 24px) / 2);
        
    }
    .section-two-style .box-for-icons {
        display: none; /* Приховати всі елементи з класом box-for-icons */
    } 

    /* СЕкція Our Portfolio */
    .li-our-portfolio{
        width: calc((100% - 24px) / 2);
        height: 420px;
    }
    .our-portfolio-list{
         padding-right: 0; 
        padding-left: 0;
        gap: 72px 24px;
       
    }
    /*ССЕКЦІЯ OUR TEAM*/
    .section-three-container{
        gap:64px 24px;
    }
    .ourteam-container{
        padding-right: 108px;
        padding-left: 108px;
    }
    /*SECTION HERO*/
.general-tittle{
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
}
.section-one-style{
    padding-top: 112px;
    padding-bottom: 112px;
    height: 436px;
    max-width: 768px;
    background-image: url(/images/Dark-bg-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: 
    linear-gradient(to bottom,rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),   
    url(/images/Dark-bg-1.jpg);
}
@media screen and (-webkit-min-device-pixel-ratio: 2 ),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .section-one-style{
        background-image: url(/images/Dark-bg-tab2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: 
    linear-gradient(to bottom,rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),   
    url(/images/Dark-bg-tab2.jpg);
    }
}/* HEADER DO TAB*/
.header-container{
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.webstudio-header{
    margin-right: 76px;
}
.flex-logo-and-menu .navigation{
    display: flex;
    padding-left: 16px;
    
}
.contacts{
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    margin-left: 121px;
}
.menu-open-bth{
    display: none;

}
.navigation a{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
text-decoration: none;
padding: 24px 0 ;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation a:hover,
.navigation a:focus{
    color: #404bbf;
}
.navigation.current{
    position: relative;
    color: #404BBF;
}
.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
}
}


@media screen and (min-width:1440px) {
    .container{
        width: 1128px;
        padding: 0 15px; 
        margin: 0 auto;
        
        
    }
    .section-two-style{
        padding-top: 120px;
        padding-bottom: 120px;
      }
      .section-two-container{
        gap:24px;
      }
    .calc{
         width: calc((100% - 72px) / 4);
     } 
     .our-portfolio{
         padding-top: 120px;
        padding-bottom: 120px;
}
.li-our-portfolio{
    width: calc((100% - 48px) / 3);
    height: 420px;
}
.our-portfolio-list{
     padding-right: 0; 
    padding-left: 0;
    gap: 48px 24px;
   
}

.section-three-container{
    gap: 24px;
    flex-wrap: nowrap;
}

.ourteam-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.ourteam-container{
    padding-right: 156px;
    padding-left: 156px;
}
.ourteam-info{
    padding: 32px 16px;
}
/*SECTION HERO*/
.general-tittle{
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
    max-width: 496px;
}
.section-one-style{
    padding: 188px 0 ;
    height: 600px;
    max-width: 1440px;
    background-image: url(/images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: 
    linear-gradient(to bottom,rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),   
    url(/images/header.jpg);
}
@media screen and (-webkit-min-device-pixel-ratio: 2 ),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .section-one-style{
        background-image: url(/images/people-office-desck2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: 
    linear-gradient(to bottom,rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),   
    url(/images/people-office-desck2.jpg);
    }
}


}

